@tailwind base;
@tailwind components;
@tailwind utilities;  /* Custom css */

@import url('https://fonts.googleapis.com/css?family=Montserrat|Source+Sans+Pro&display=swap');

@font-face {
	font-family: "Steradian";
	src: url("Steradian_Light_Italic.otf");
}

body {
  background-color: #131313;
  font-family: "Steradian";
}

::selection {
  background-color: #07FFD7;
  color: #000000;
}

::-moz-selection {
  background-color: #07FFD7;
  color: #000000;
}

* { box-sizing: border-box }

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  background: #000000;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #333;
}

/* LEAFLET STYLES */

.leaflet-container{
	background-color: #131313 !important;
	width: 95%;
	min-height: 90vh;
}

.custom .leaflet-popup-tip,
.custom .leaflet-popup-content-wrapper {
  background: #131313;
  color: #F1F1F1;
  font-size: 1.4rem;
}

/* SPINKIT STYLES */

.spinner {
  width: 40px;
  height: 40px;

  position: relative;
  margin: 100px auto;
}

.double-bounce1, .double-bounce2 {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: #0014f5;
  opacity: 0.6;
  position: absolute;
  top: 0;
  left: 0;
  
  -webkit-animation: sk-bounce 2.0s infinite ease-in-out;
  animation: sk-bounce 2.0s infinite ease-in-out;
}

.double-bounce2 {
  -webkit-animation-delay: -1.0s;
  animation-delay: -1.0s;
}

@-webkit-keyframes sk-bounce {
  0%, 100% { -webkit-transform: scale(0.0) }
  50% { -webkit-transform: scale(1.0) }
}

@keyframes sk-bounce {
  0%, 100% { 
    transform: scale(0.0);
    -webkit-transform: scale(0.0);
  } 50% { 
    transform: scale(1.0);
    -webkit-transform: scale(1.0);
  }
}